*{
  margin: 0;
  padding: 0;
}
.cards-grids{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:10px
}
.card{
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 20px;
}